
html{
  scroll-behavior: smooth;
}
nav{
  padding-left:30px;
  padding-right:30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  

}
section{
        margin: 0;
        padding: 0;
        background: none;
        height: 70vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
        }
        @media only screen and (max-width:400px){
            section{
        margin: 0;
        padding: 0;
        background: none;
        height: 40vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
        }
        }
    
.Cart-Container{
        width: 90%;
        height: 65%;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0px 25px 40px #1687d933;
    }
    .Header{
        margin: auto;
        width: 90%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .Heading{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        color: #2F3841;
    }
        .Action{
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: #c7bfbf;
        cursor: pointer;
        
    }
    .Cart-Items{
        margin: auto;
        width: 90%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .image-box{
        width: 85%;
        text-align: center;
        padding-bottom:35px;
        
    }
        .about{
        height: 100%;
    }
        .title{
        padding-top: 5px;
        line-height: 30px;
        font-size: 32px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        color: white;
    }
        .subtitle{
        line-height: 10px;
        font-size: 18px;
        text-indent:2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: #909090;
    }

    /*.counter{if counter needed pootukkalam
        width: 15%;
        display: flex;
        justify-content: space-between;
       align-items: center;
    }
        .ctn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 900;
        color: #202020;
        cursor: pointer;
    }
        .count{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 900;
        color: #202020;
    }*/
      .prices{
        text-align: center;
        padding: 5px 20px;
        text-decoration: none;
      }
        .amount{
        padding-top: 20px;
        font-size: 26px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        color: #202020;
    }
        .save{
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: #1687d9;
        cursor: pointer;
        text-decoration: none;
    }
        .remove{
        padding-top: 50px;
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: #E44C4C;
        cursor: pointer;
        text-decoration: none;
    }

    #wish_list {
        position: fixed;
        bottom: 0px;
        right: 0px;
        height: 35px;
        width: 400px;
        background: #fff;
        border: 3px solid #22a7c5;
        z-index: 3;
      }
      
      #wish_list .wish_list_heading {
        margin: 0px 0px;
        text-align: center;
        color: #fff;
        height: 27px;
        background-color: #22a7c5;
        padding: 6px 3px;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
      }
      
      #wish_list_item {
        width: 100%;
        text-align: center;
        border-spacing: 0px 4px;
        border-collapse: separate;
      }
      
      #msg {
        position: fixed;
        display: none;
        padding: 10px 25px;
        background: #22a7c5;
        border: 1px solid #22a7c5;
        font-size: 18px;
        width: 50%;
        text-align: center;
        font-weight: 700;
        color: #fff;
        z-index: 4;
      }
      
      .wishlist-item {
        padding: 10px 5px;
        background: #f1f1f1;
        color: #323470;
      }
      
      .w-premove {
        font-size: 20px;
        cursor: pointer;
        width: 7%;
        padding-bottom: 4px;
      }
      
      .w-pname {
        font-size: 16px;
        width: 93%;
        text-align: left;
        padding-left: 12px;
      }
      /*button*/
      /*@media screen and (min-width: 400px) {
        .title {
          font-size: 80px;
        }
        .subtitle{
            line-height: 100px;
            font-size: 80px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            color: #909090;
        }
      }
      
