# Turn on the rewrite engine
RewriteEngine On

<IfModule mod_speling.c>
    CheckSpelling Off
</IfModule>
Options -Indexes


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^courses index.php?id=courses [NC,QSA,L]
RewriteRule ^class index.php?id=class [NC,QSA,L]
RewriteRule ^editclass index.php?id=editclass [NC,QSA,L]
RewriteRule ^addclass index.php?id=addclass [NC,QSA,L]
RewriteRule ^lessons index.php?id=lessons [NC,QSA,L]
RewriteRule ^editlesson index.php?id=editlesson [NC,QSA,L]
RewriteRule ^addlesson index.php?id=addlesson [NC,QSA,L]
RewriteRule ^messages index.php?id=messages [NC,QSA,L]
RewriteRule ^notification index.php?id=notification [NC,QSA,L]